a {
  @include typeface-2(p2, desktop);
  text-decoration: none;
  color: $black-normal;

  transition: .5s ease;

  &:hover {
    opacity: .9;
  }
}

.btn {
  background: linear-gradient(220.94deg, $secondary-normal 14.43%, $primary-normal 85.28%);
  border-radius: 16px;
  padding: 12px 32px;
  color: $white-light;

  transition: .3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 17px 33px rgba(169, 80, 196, 0.55), 
                0px 5.125px 9.94853px rgba(169, 80, 196, 0.358374), 
                0px 2.12866px 4.13211px rgba(169, 80, 196, 0.275), 
                0px 0.769896px 1.4945px rgba(169, 80, 196, 0.191626);
  }
}

.link {
  display: inline-block;
  color: $primary-normal;
  background-image: url("../svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;

  font-size: 18px;
  padding: 16px 16px 16px 40px;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;

    top: 75%;
    left: 40px;

    width:0%;
    height: 2px;

    border-radius: 2px;

    background-color: $secondary-light;

    transition: .5s ease;
  }

  &:hover {
    opacity: 0.8;
    padding-left: 64px;
    background-position: 12px 50%;

    &::after {
      left: 64px;
      width: 67%;
    }
  }
}

.button-app {
  transition: .5s ease;
  &:hover {
    filter: drop-shadow(0px 51px 80px rgba(169, 80, 196, 0.08))
            drop-shadow(0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271))
            drop-shadow(0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04))
            drop-shadow(0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729));
  }
}