header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;

  transition: 0.5s ease;
  
  position: fixed;
  z-index: 900;
}

.active-header {
  background-color: $white-normal;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 
              0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 
              0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 
              0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

.navbar-desktop {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 10px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(s) {
    display: none;
  }
}

.logo {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 800;
}

// DESKTOP
.navbar-desktop-item-1 {
  flex: 1 1 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-desktop {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .menu-item {
    position: relative;
    margin-left: 16px;
  }
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 42%;
    right: -3px;

    width: 7px;
    height: 7px;

    border-bottom: 2px solid $primary-normal;
    border-right: 2px solid $primary-normal;
    border-radius: 1px;

    transform: rotate(45deg);

    transition: .2s linear;
  }

  &:hover {
    &::after {
      top: 45%;
    }
  }
}

.dropdown-menu {
  background-color: $white-light;
  border-radius: 16px;

  padding: 16px 24px;

  box-shadow: 0px 9px 33px rgba(169, 80, 196, 0.3), 
              0px 2.71324px 9.94853px rgba(169, 80, 196, 0.195477), 
              0px 1.12694px 4.13211px rgba(169, 80, 196, 0.15), 
              0px 0.407592px 1.4945px rgba(169, 80, 196, 0.104523);

  list-style: none;

  position: absolute;
  top: 48px;
  left: 24px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: .7s ease;

  .dropdown-item {
    width: 100%;
  }
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}


.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;


  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 12%;

    width: 0%;
    height: 2px;

    background-color: $secondary-normal;

    transition: .5s ease;
  }

  &:hover {
    &::after {
      width: 78%;
    }
  }
}

// MOBILE

.navbar-mobile {
  display: none;

  max-width: $container-xl;
  margin: 0 auto;
  padding: 10px 24px;
  display: none;
  
  @include responsive(s) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;

  position: relative;

  cursor: pointer;

  z-index: 900;


  &::before {
    content: '';
    position: absolute;

    top: 64%;
    left: 17%;

    width: 70%;
    height: 2px;
    background-color: $primary-normal;  
    transition: 0.7s ease;

  }

  &::after {
    content: '';
    
    position: absolute;
    top: 40%;
    left: 17%;

    width: 70%;
    height: 2px;
    background-color: $primary-normal;
    transition: 0.7s ease;

  }
}

.active-bx {
  &::before {
    top: 50%;
    transform: rotate(315deg);
  }

  &::after {
    top: 50%;
    transform: rotate(-135deg);
  }
}

.menu-mobile {
  // display: none;

  width: 100vw;
  height: 100vh;

  background-color: $white-normal;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transform: translate3d(0, -100px, 0);

  transition: 1s ease;

  // @include responsive(s) {
  //   display: block;
  // }
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  max-width: $container-xl;
  list-style: none;
  
  display: flex;
  flex-direction: column;

  svg {
    border: 1px solid red;
    width: 56px;
    height: 56px;

    path {
      stroke: $gray-7;
      transition: .7s ease;
    }

    &:hover {
      path {
        stroke: $primary-normal;
      }
    }
  }
}

.nav-link-mobile {
  // border: 1px solid red;
  display: inline-block;

  @include typeface-1(h3, desktop);

  color: $gray-2;

  padding: 16px 24px;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 24px;

    width: 0%;
    height: 2px;

    background-color: $secondary-normal;

    transition: 0.5s ease;
  }

  &:hover {
    color: $primary-normal;

    &::after {
      width: calc(100% - 24px);
    }
  }
}